#app {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#app #headerMain {
  width: 100%;
  background-color: #232323;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
#app #headerMain #headerTop {
  height: 1.25rem;
}
#app #headerMain #headerTop .logo {
  padding: 0.24074074rem 0.15740741rem 0.19444444rem;
  font-size: 0;
  float: left;
}
#app #headerMain #headerTop .logo img {
  width: 2.22222222rem;
  height: 0.81481481rem;
}
#app #headerMain #headerTop .menu-btn {
  width: 1.19444444rem;
  height: 1.25rem;
  background-image: url('../img/menuBtn.png');
  background-repeat: no-repeat;
  background-size: 0.75925926rem 2.15740741rem;
  float: left;
}
#app #headerMain #headerTop .menu-btn.show {
  background-position: center -1.11111111rem;
}
#app #headerMain #headerTop .menu-btn.hidden {
  background-position: center 0.14814815rem;
}
#app #headerMain #headerTop .btn-group {
  padding-top: 0.19444444rem;
  float: right;
}
#app #headerMain #headerTop .btn-group .login-btn,
#app #headerMain #headerTop .btn-group .register-btn {
  width: 1.02777778rem;
  height: 0.72222222rem;
  line-height: 0.72222222rem;
  background-color: #690;
  color: #ccc;
  margin-right: 0.13888889rem;
  font-size: 0.38888889rem;
  text-align: center;
  border-radius: 0.07407407rem;
  float: left;
  outline: none;
  border: 0;
}
#app #headerMain #headerTop .btn-group .search-btn-small {
  width: 1.2037037rem;
  height: 0.81481481rem;
  line-height: 0.81481481rem;
  color: #fff;
  margin-right: 0.27777778rem;
  margin-top: 0.02777778rem;
  font-weight: bold;
  border-radius: 0.09259259rem;
  float: left;
  background-color: #690;
  outline: none;
  border: 0;
}
#app #headerMain #headerBottom {
  box-sizing: content-box;
  height: 0.9537037rem;
  padding: 0.14814815rem;
  font-size: 0;
}
#app #headerMain #headerBottom .input-text {
  box-sizing: border-box;
  width: 7.67592593rem;
  height: 0.9537037rem;
  background-color: #999;
  padding: 0.0462963rem 0.09259259rem;
  border: 0.00925926rem solid #5a5a5a;
  font-size: 0.37962963rem;
  color: #333;
  border-radius: 0.13888889rem;
  float: left;
  outline: none;
}
#app #headerMain #headerBottom .input-text:focus {
  background-color: #fff;
}
#app #headerMain #headerBottom .search-btn-large {
  width: 1.87962963rem;
  height: 0.9537037rem;
  border: 0;
  outline: none;
  background-color: #414040;
  color: #fff;
  font-size: 0.37962963rem;
  border-radius: 0.13888889rem;
  float: right;
}
#app #headerMain #headerHiddenMenu {
  width: 100%;
  position: absolute;
  top: 1.25rem;
  padding: 0.09259259rem 0;
  border-top: 0.00925926rem solid #6a6a6a;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}
#app #headerMain #headerHiddenMenu li {
  width: 22.5%;
  height: 1.25rem;
  line-height: 1.25rem;
  font-size: 0.5rem;
  text-align: center;
  font-weight: bold;
  float: left;
}
#app #headerMain #headerHiddenMenu li a {
  color: #fff;
}
