#app #container {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 2.5rem;
  width: 100%;
}
#app #container #brandNavContainer {
  width: 100%;
  overflow: hidden;
}
#app #container #brandNavContainer #brandNavWrapper {
  height: 1.63888889rem;
  padding: 0.28703704rem 0 0.12962963rem;
  white-space: nowrap;
  font-size: 0;
}
#app #container #brandNavContainer #brandNavWrapper li {
  height: 1.19444444rem;
  text-align: center;
  line-height: 1.19444444rem;
  font-size: 0.625rem;
  padding: 0 0.35185185rem;
  display: inline-block;
}
#app #container #brandNavContainer #brandNavWrapper li a {
  color: #020202;
}
#app #container #brandNavContainer #brandNavWrapper li.active {
  background-color: #690;
}
#app #container #brandNavContainer #brandNavWrapper li.active a {
  color: #fff;
}
